
@media (min-width:0) {
.navBar{
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 2%;
    flex-direction: column;
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 1px 9px 5px rgb(255 255 255 / 10%);
padding-bottom: 30px;
}

.navBarLogo{
width: 35%;
margin-bottom: 10px;
}

.gitHubLogo{
    padding: 10%;
    width: 80%;
}

.navBarSearcher{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searcherTxt{
    font-size: 1rem;
    margin: 10px;
}
.searchInput{
    width: 98%;
background-color: #2b2b2b;
border: white 1px solid;
color: white;
border-radius: 0.5rem;
padding: 7px 0 7px 1%;

}
.searchButton{
margin-left: -45px;
background-color: white;
color: #2b2b2b;
border-radius: 0.2rem;
border: white 1px solid;
cursor: pointer;
}
.searchButton a{
    color: #2b2b2b;
    text-decoration: none;
}
.searchButton:hover {
    background-color: #2b2b2b;
}
.searchButton:hover  a{
    color: white;
}
.navBarLink{
    width: 20%;
font-size: 1rem;
font-weight: 700;
display: none;

}
.navBarLink a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
border-radius: 0.5rem;
    border: 0.5px white solid;
}

.navBarLink:hover a{
     background-color: white;
    color: #2b2b2b;
}
}
@media (min-width:756px) {
    .navBarLogo{
        margin-bottom: 0;}
    .navBar{
        flex-direction: row;
        width: 80%;
        padding: 30px 10%;
        margin-bottom: 10px;
        justify-content: space-between;
    }
.navBarLogo{
    width: 20%;
}
/* .gitHubLogo{
    padding: 0;
    width: 25%;
    
} */
.navBarLink{
display: block;
}
.navBarSearcher{
    width: 60%;
}
}