@media (min-width:0) {
    .userInfo{
        display: flex;
        box-shadow: inset 0px -5px 11px 0px rgb(255 255 255 / 10%);
        padding: 4px;
        align-items: center;
        justify-content: space-around;
        border-top: 0.5px solid rgb(255, 255, 255, 0.5);
        border-bottom: 0.5px solid rgb(255, 255, 255, 0.5);
    }
    .homeTextTitle{
        font-size: 1.1rem;
        margin: 40px 0 10px 0;
    }
    h3{
        margin: 0;
    }
    hr{
        margin:0}
    .infoId{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoName{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .infoButton{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoButton a{ 
        width: 65%;
        height: 30px;
        padding: 3px 5px;
        text-decoration: none;
        color: #282c34;       
    }
    .infoButton a:hover .detailButton{
        background-color: #282c34;
       color: white;
        box-shadow: inset 0px 0px 8px 2px rgb(255, 255, 255,0.3);;
    }
    .detailButton{
        display: flex;
        align-items: center;
        justify-content: center;
        border:solid 1px white ;
        border-radius: 0.5rem;
         width: 100%;
         box-shadow: inset 0px 0px 8px 100px rgb(255, 255, 255,1);;
        height: 30px;
        transition: all 0.2s;
    }
    .tableUsers{
        width: 100%
    }
    .tableUsersBox{
        width: 90%;
        margin: 20px 5%;
        border-radius: 1rem;
        border: 1px white solid;
    }
}

@media (min-width: 756px) {
    .tableUsersBox{
        width: 80%;
        margin: 20px 10%;
    }
    .userInfo{
        padding: 10px;
    }
    .infoButton a{ 
        width: 50%;
        padding: 3px 15px;  
    }
    .homeTextTitle{
        font-size: 1.3rem;
    }
    .infoId {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoName{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .infoButton{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}