@media (min-width:0) {
    .userInfo{
        display: flex;
        
        padding: 5px;
        margin: 10px 0 ;
        align-items: center;
        justify-content: space-around;
      
     
    }
    .info{
        width: 30%;
    }
    .info a{
        text-decoration: none;
        color: white;
        padding: 3px 15px;
        border:solid 1px white ;
        border-radius: 0.5rem;
    }
    .info a:hover{
       color: #2b2b2b;
        background-color: white;
        
    }
    .tableUsers{
        width: 80%;
        margin: 10px 10% 10px 10%;
        border-radius: 1rem;
        border: 1px white solid;
    }
}

@media (min-width: 756px) {
   
}