@media (min-width:0) {
    .listTitles{
        display:none
    }
    .pagination{
        width: 90%; 
        margin:  2.5% 5%;   
        align-items: center; justify-content: space-between;  display: flex;
    }
    .paginationBox{
        width: 20%;
    }
    p{
        margin: 0;
    }
}
@media (min-width:756px) {
    .listTitles{
        display:block
    }
 
}